.prims-sidebar {
    float: left;
    width: 20%;
}
.prims-grid {
    float: left;
    width: 80%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
  }
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }